div {
    padding : 5px;
    margin: 5px;
    border: solid 1px black;
    width: fit-content;
}

.makeblue{
    background-color: lightblue;
    text-decoration: line-through;
}

.arial{
    font-family: Arial, serif;
}
