div {
    padding : 5px;
    margin: 5px;
    border: solid 1px black;
    width: fit-content;
}

.makeblue{
    background-color: deepskyblue;
    text-decoration: line-through;
}

.arial{
    font-family: Arial, serif;
}

.yes{
    font-size: 50px;
    color: #ffffff;
    background-color: #00ff13;
}
