#titre {
    text-align: center;
    border-style: solid;
    border-width: 5px;
    padding: 5px;
    font-size: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

body {
    background-color: white;
    color: black;
}



table {
    text-align: center;

}

table,
td {

    border: InactiveBorder;
    margin-left: 8px;
    margin-right: 8px;
}

a {
    color: blue;
    font-style: unset;
    font-size: 25px;
}

#images {
    padding: 8px;
    margin-right: 10px;
    float: left;

}

p {
    font-size: 25px;
    padding: 10px;
    text-align: justify;
    border-style: solid;

}

#texte {

    margin-left: 430px;


}


#enregistrer {
    width: 200px;
}

#inscrire {
    width: 200px;

}

#button2 {
    text-align: center;
    width: 100%;
    margin-top: 5px;

}

#button3 {
    text-align: center;
    width: 100%;
    margin-top: 5px;
}

#bouton4 {
    width: 20cm;
}

#menu {
    margin: auto;
    width: 100%;
    position: center;

}

